<div class="projects">  {% if site.projects != blank %}  {% assign projects_size = site.projects | size %}  <div
      class="table-responsive"
      {% if include.limit and site.projects.scrollable and projects_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign projects = site.projects | reverse %}  {% if include.limit and site.projects.limit %}
          {% assign projects_limit = site.projects.limit %}
        {% else %}
          {% assign projects_limit = projects_size %}
        {% endif %}
        {% for item in projects limit: projects_limit %}
          <tr>
            <td scope="row" style="width: 12.5%; font-size: smaller; vertical-align: middle;">
              {{ item.date | date: '%b %Y' }}  </td>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="projects-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No upcoming projects.</p>
  {% endif %}
</div>
